<div class="newsletter-container">
    <div class="newsletter-header">
        <p class="newsletter-title">
            Bądź pierwszy
        </p>
        <p class="newsletter-subtitle">
          Zapisz się do newslettera, aby otrzymać 10%* zniżki na pierwsze zamówienie i być na bieżąco z informacjami o ekskluzywnych dropach i promocjach od JD.
          <small class="newsletter-subtitle-info">
            *Promocja obowiązuje na jeden produkt o najwyżeszej wartości z zamówienia.
          </small>
        </p>
    </div>
    <form class="newsletter-form">
        <input type="text" class="search-bar" placeholder="Wpisz e-mail">
        <button class="search-button">&rarr;</button>
    </form>
</div>
