.search-container {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 414px;
    height: 40px;
}

.search-bar {
    border: 1px solid #E5E5E5;
    border-right: none;
    font: 300 11px "Gotham", sans-serif;
    color: #000;
    letter-spacing: 0.33px;
    height: 100%;
    width: 100%;
    padding-left: 2%;
}

.search-button {
    border: 1px solid #E5E5E5;
    border-left: none;
    font: 300 11px "Gotham", sans-serif;
    color: #000;
    letter-spacing: 0.33px;
    background-color: #43d5b0;
    height: 100%;
    width: 30%;
}