.top-menu-list {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 14px;
    letter-spacing: 0.33px;
    font: 300 11px  "Gotham", sans-serif;
    justify-content: right; 
}

.top-menu-list li {
    margin-right: 3%;
    padding-right: 15px;
}
