<div class="banner-container">
    <div class="banner-left">
        <div class="banner-content">
            <div class="banner-left-header">
                <h2>Nowości</h2>
            </div>
            <div class="banner-description">
                Najlepszy streetwear od znanych marek.
            </div>
            <div class="banner-button">
                <button>Zobacz nowości</button>
            </div>
        </div>
        <img src="../../../assets/images/clothes/JDW-44-015_7_IG.avif">
    </div>
    <div class="banner-center">
        <div class="banner-center-header">
            Nasze sklepy
        </div>
        <img src="../../../assets/images/stores.avif">
        <div class="banner-center-description">
            Znajdź najbliższy sklep, sprawdź godziny otwarcia i dowiedz się, gdzie możesz odebrać swoje zamówienie.
        </div>
        <div class="banner-center-button">
            <button class="banner-center-button">Znajdź sklep</button>
        </div>
    </div>
    <div class="banner-right">
        <img src="../../../assets/images/shoes/footer-left-vans.avif">
        <div class="banner-right-content">
            <svg [cIcon]="icons.cibInstagram" size="xxl"></svg>
            <div class="banner-right-header">
                Instagram
            </div>
            <div class="banner-right-description">
                Śledź nasz profil na instagramie.
            </div>
        </div>
    </div>
</div>