<div class="jd-clone-div">
    <div class="top-menu">
        <jd-clone-top-menu></jd-clone-top-menu>
    </div>
    <div class="center-content">
        <div class="img-logo">
            <a href="/">
                <img src="../../../assets/images/logos/Undisputed_KOT-01_1.png" alt="logo" />
            </a>
        </div>
        <div class="search-bar">
            <jd-clone-search-bar></jd-clone-search-bar>
        </div>
        <div class="basket">
            <jd-clone-basket></jd-clone-basket>
        </div>
    </div>
    <div class="main-menu">
        <jd-clone-main-menu></jd-clone-main-menu>
    </div>
    <div class="ups-box">
        <jd-clone-ups-box></jd-clone-ups-box>
    </div>
</div>