<header>
    <div>
        <div>
            <div class="img-logo">
                <a href="/">
                    <img src="../../../assets/images/logos/Undisputed_KOT-01_1.png" alt="logo" />
                </a>
            </div>
            <div>
                <header-search-bar></header-search-bar>
            </div>
            <div>
                <header-basket></header-basket>
            </div>
            <div>
                <header-top-menu></header-top-menu>
            </div>
            <div>
                <header-main-menu></header-main-menu>
            </div>
            <div>
                <header-ups-box></header-ups-box>
            </div>
        </div>
    </div>
</header>
