<div class="header-div">
    <div class="top-menu">
        <header-top-menu></header-top-menu>
    </div>
    <div class="center-content">
        <div class="img-logo">
            <a href="/">
                <img src="../../../assets/images/logos/Undisputed_KOT-01_1.png" alt="logo" />
            </a>
        </div>
        <div class="search-bar">
            <header-search-bar></header-search-bar>
        </div>
        <div class="basket">
            <header-basket></header-basket>
        </div>
    </div>
    <div class="main-menu">
        <header-main-menu></header-main-menu>
    </div>
    <div class="ups-box">
        <header-ups-box></header-ups-box>
    </div>
</div>