<div class="carousel">
    <home-page-carousel></home-page-carousel>
</div>
<div class="carousel-foryou">
    <homepage-carousel-component [header]="headerForYou" [carouselList]="carouselList"></homepage-carousel-component>
</div>
<div class="carousel-category">
    <homepage-carousel-category></homepage-carousel-category>
</div>
<div class="carousel-news">
    <homepage-carousel-component [header]="headerNew" [carouselList]="carouselList"></homepage-carousel-component>
</div>
<div class="carousel-bottom">
    <homepage-carousel-bottom></homepage-carousel-bottom>
</div>
<div class="carousel-seemore">
    <homepage-carousel-seemore></homepage-carousel-seemore>
</div>
<div class="carousel-bestsellers">
    <homepage-carousel-component [header]="headerBestsellers" [carouselList]="carouselList"></homepage-carousel-component>
</div>
<div class="logos">
    <homepage-logos></homepage-logos>
</div>