<div class="carousel">
    <jd-clone-carousel></jd-clone-carousel>
</div>
<div class="carousel-foryou">
    <jd-clone-carousel-component [header]="headerForYou" [carouselList]="carouselList"></jd-clone-carousel-component>
</div>
<div class="carousel-category">
    <jd-clone-carousel-category></jd-clone-carousel-category>
</div>
<div class="carousel-news">
    <jd-clone-carousel-component [header]="headerNew" [carouselList]="carouselList"></jd-clone-carousel-component>
</div>
<div class="carousel-bottom">
    <jd-clone-carousel-bottom></jd-clone-carousel-bottom>
</div>
<div class="carousel-seemore">
    <jd-clone-carousel-seemore></jd-clone-carousel-seemore>
</div>
<div class="carousel-bestsellers">
    <jd-clone-carousel-component [header]="headerBestsellers" [carouselList]="carouselList"></jd-clone-carousel-component>
</div>
<div class="logos">
    <jd-clone-logos></jd-clone-logos>
</div>