.ups-box-content {
    display: flex;
    list-style: none;
  }

.ups-box-content li {
    text-transform: uppercase;
    font-size: 15px;
    font: 400 "Gotham",sans-serif;
    margin: 27%;
    font-weight: 500;
}

